body{
    background: greenyellow;
    font-family: 'Crete Round', serif;
    margin: 0 auto;
}
#container{
    background: white;
    width: 1000px;
    margin: 0 auto;
}
header{
    min-height: 500px;
    background: url('../img/woddPlank.jpg');
    /* background: url('../img/cerf.png') no-repeat center; */
}
nav ul{/* pour le positionement adroite de la nav */
    float: right;
  
}
li{
    display: inline/* affichage en ligne */;
    padding: 4px;
}
h1{
    float: left;
    padding-left:50px;
    clear: right;/*  cette ligne permet de remettre le flu normal */
}
section{
    margin: 0 auto;
    min-height: 400px;
    max-height:400px ;
}
.centre{
    position: relative;
    right: 500px;
    top: 150px;
    font-size: 40px;
}

.droite{/* classe droite pour un flottement adroite */
    float: right;
}
.gauche{/* classe droite pour un flottement agauche*/
    float: left;
}
.imgcerf{/* pour centrer l'image cerf */
    display: block;
    padding-top: 100px;
    padding-left: 150px;
    margin-left: auto;
    margin-right: auto;
}
.droite p, .droite h2{/* positionnement de h2 de la classe droite */
    position: relative;
    /* width: 200px; */
    left: 20px;
    padding: 10px;
}
p{
    text-align: center;
}

.gauche p, .gauche h2{/* positionnement de h2 de la classe gauche */
    position: relative;
    /* text-align: center; */
    /* width: 200px; */
    left: 60px;
    padding: 10px;
}

.imgg{/* pour centrer l'image de la classe droit */
    display: block;
    padding-left: 80px;
    margin-left: auto;
    margin-right: auto;
}
.imgg1{/* pour centrer l'image la classe gauche */
    display: block;
    padding-right: 200px;
    margin-left: auto;
    margin-right: auto;
}
h1, h3, h4, h5, p{
    font-style: italic;
    
}
i{
    float: right;
    padding: 10px;
    clear: left;
    color:red;
    font-size: 20px;
}
.fas{
    display:block;
    clear: right;
} 

/* .clear{
    clear: both;
} */
footer{
    background: url('../img/pattern.jpg') repeat;
    /* margin: 0 auto; */
    min-height: 400px;
    max-height: 400px;
}
.footleft{
    /* margin:0 auto; */
    padding-left: 50px;
    padding-top: 50px;
    /* text-align: center; */
    line-height: 1.5em;/* l'espace entre les lignes */
    /* clear: left;  */
    /* float: left; */
}
 
